<div>
	<ion-row>
	<ion-col width-70>
		<button ion-button color="purple" (click)="goToHome()" icon-left><ion-icon name='arrow-back'></ion-icon> Избор на категория</button>
	</ion-col>

    <ion-col width-30 text-right>
      <button ion-button  color="dark" icon-only clear (click)="goToBasket()">
        <ion-icon name="basket" style="padding: 0.2em;"></ion-icon>
	<ion-badge color="secondary" item-right *ngIf="basketSize > 0" style="padding: 3px 3px;">{{basketSize}}</ion-badge>	
      </button>      
    </ion-col>
</ion-row>	

</div>
<ion-content style="margin-top:50px;">
  <ion-row *ngFor="let product of products; let even=even; let index=index;">
  	<ion-col width-50 *ngIf="even" (click)="goToProduct(product)">
		<img src="{{imagesPath}}{{product.filepath}}"/>
	</ion-col>
  	<ion-col width-50 *ngIf="even && index < products.length - 1" (click)="goToProduct(products[index + 1])">
		<img src="{{imagesPath}}{{products[index + 1].filepath}}"/>
	</ion-col>
  </ion-row>


   <ion-card [hidden]="!products || products.length > 0">
	  <ion-card-content>
	    <ion-card-title>
	      0 продукта
	    </ion-card-title>
	    <p>
	      Няма продукти в избраната категория.
	    </p>
	  </ion-card-content>
   </ion-card>

   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
	<ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>
