<ion-content>

<ion-row>
	<ion-col width-70>
		<h4 style="margin-top: 1.0rem;"></h4>
	</ion-col>

    <ion-col width-30 text-right>
      <button ion-button  color="dark" icon-only clear (click)="goToBasket()">
        <ion-icon name="basket" style="padding: 0.2em;"></ion-icon>
	<ion-badge color="secondary" item-right *ngIf="basketSize > 0" style="padding: 3px 3px;">{{basketSize}}</ion-badge>	
      </button>      
    </ion-col>
</ion-row>	


	<ion-card *ngFor="let category of categories; let index=index;">
		<ion-row *ngIf="category.filepath" (click)="openCategory(category.id)" tappable>
		  	<ion-col width-100>
				<img src="{{imagesPath}}{{category.filepath}}"/>
			</ion-col>
    </ion-row>
		<ion-row (click)="openCategory(category.id)" tappable>
      	<ion-col width-100 text-center>
				{{category.name}}
			</ion-col>
  		</ion-row>
	</ion-card>
</ion-content>
