<ion-header>
<ion-toolbar>
<button ion-button color="purple" (click)="goBack()" icon-left><ion-icon name='arrow-back'></ion-icon> Избор на категория</button>
<ion-buttons end>
      <button ion-button  color="dark" icon-only clear (click)="goToBasket()">
        <ion-icon name="basket" style="padding: 0.2em;"></ion-icon>
	<ion-badge color="secondary" item-right *ngIf="basketSize > 0" style="padding: 3px 3px;">{{basketSize}}</ion-badge>	
      </button>  
</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
	
<div padding>
	<img src="{{imagesPath}}{{product.filepath}}" (click)="zoom()" *ngIf="!addProduct" tappable/>

	<div no-padding>
    		<button ion-button color="purple" block (click)="doOrder()" icon-left *ngIf="!order"><ion-icon name='basket'></ion-icon>Поръчай</button>
  	</div>
	<form [formGroup]="orderData" (ngSubmit)="completeOrder()" *ngIf="order && !addProduct"> 
	      <ion-item>
			<ion-label stacked>Подробности за поръчката</ion-label>
			<ion-textarea rows="3" formControlName="orderText"></ion-textarea>
	      </ion-item>

	      <div no-padding>
		  <button ion-button block type="submit" icon-left><ion-icon name='add'></ion-icon>Добави в количката</button>
	      </div>
	</form>
	<div no-padding *ngIf="addProduct">
		<button ion-button block (click)="goToCategories()" icon-left><ion-icon name='checkmark-circle-outline'></ion-icon>Добави нов продукт</button>
	</div>
	<div no-padding *ngIf="addProduct">
		<button ion-button block (click)="doFinish()" icon-left><ion-icon name='checkmark-circle-outline'></ion-icon>Приключи поръчката</button> 
	</div>
</div>
</ion-content>
